:root{
    --vermelho:#E50914;
    --preto:#141414;
    --cinza:#AAA;
    --branco:#FFF;
    --cinzaClaro: #f3f3f3;
    --cinzaEscuro: #a0a0a0;
    --azulClaro: #0095f6;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cinzaClaro);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mobile img {
   height: 40rem; 
}

.access {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--branco);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid var(--cinzaClaro);
}

.group:nth-child(1){
    min-height: 19rem;

}

.logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem;

}


.login {
    margin-top: 5px;
    background-color: var(--azulClaro);
    color: var(--branco);
    padding: 8px;
    border-radius: 4px;
}


.logout {
    color: var(--azulClaro);
    margin-top: 1rem;
}


.not-account {
    color: var(--cinzaEscuro);
}

.link-blue {
    color: var(--azulClaro);
}


.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('../img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('../img/googleplay-button.png');
}


/*MEDIA QUERIES*/

@media (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: var(--branco);
    }

    .wrapper{
        width: 90%;
    }

    .mobile {
        display: none;
    }

    .access {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}